.label{
    margin-left: 5%;
    margin-top: 2%;
    border-color: rgb(12, 77, 129);
    font-family:'Arial';
    display: inline-block;
    color:black;
}
.input{
    left:5%;
}
.button{
    margin-left: 5%;
    display: inline-block;
    visibility: visible;
    padding: 20px 50px 50px 20px;
}